.App {
   min-height: 100vh;
   background-position: center;
   background-size: cover;
}
.bg1 {
   background-image: url("/images/bg1.jpg");
}
.bg2 {
   background-image: url("/images/bg2.jpg");
}
.bg3 {
   background-image: url("/images/bg3.jpg");
}
.bg4 {
   background-image: url("/images/bg4.jpg");
}
